ul {
    list-style-type: none;
}
ul li {
    cursor: pointer;
}
ul.level1, ul.level2, ul.level3, ul.level4 li {
    color: #cccccc;
}
ul.level2, ul.level3, ul.level4 {
    display: none;
}
li.solved {
    color: blue !important;
}
